// Place all the styles related to the Informations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stats_content {
	margin: 10px 10px 5px 10px !important;
}

.stat_text {
	display: block;
	margin: 5px 0 5px 0;
}